    <!Doctype HTML>
    <html lang="en">
      <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1">
        <title>Account|yardsale</title>
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/Base-Style.css">
        <link rel="stylesheet" href="static/css/dashboard.css">
        <style>
        .jumbotron{
        background-image:url('static/img/ph4.jpg');
        color:black;
        }
        .title-bar{
        background-color: #EBEBEB;
      }
      .sidebar{
        margin-top:0.2%;
      }
        </style>
      </head>
      <body>
  <div class="content">
        <div class="container-fluid title-bar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">yardsale</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-lg-6 search-box">
              <div class="input-group search-bar">
                <input type="text" class="form-control" placeholder="Search for products">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
            <!-- /input-group -->
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="channel" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{u.first_name}}'s Channel {{q}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="channel">My Account</a></li>
                  <li><a href="my_products">My Products</a></li>
                  <li><a href="logout">Sign-Out</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
    </div>
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="profile">View Channel</a></li>
            <hr>
            <li class="active"><a href="channel">Account<span class="sr-only">(current)</span></a></li>
            <hr>
            <li><a href="my_products">Products</a></li>
            <hr>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <form action="profile" method="post" enctype="multipart/form-data">
          {% csrf_token %}
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">First Name</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{u.first_name}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Last Name</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{u.last_name}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Email</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{u.email}}</p>
                  </div>
                </div>

                <!--<div class="form-group row">
                  <label class="col-sm-2 form-control-label">Mobile</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{u.phone}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Address</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{u.address}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">About You</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{u.desc}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Your Cover Video</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{u.video}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Contact Timings:</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{u.timings}}</p>
                  </div>
                </div>-->
              <a href="channel_edit" class="btn btn-default" >Edit</a>
            </form>
            {{post}}
            {{motu}}
        </div>
      </div>
    </div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
    </body>
  </html>