<html>
<head>
	<!-- meta data & title -->
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
        <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" type="text/css" media="all" href="/css/style-projects.css">


        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/u/32041539/CoMarket/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
        <title> Yard Sale </title>
</head>
<body>
	<div class="header">
	</div>
	<br>
	<div class="cover">
		<div class="profile-picture">
			<img class="profile-picture" src="images/profile.png">
		</div>
		<div class="cover-picture">
			<img class ="cover-picture" src="images/cover.jpg">
		</div>
	</div>
	<br>
	<div class="main-content">
		<div class="name-of-seller pull-left col-sm-12">
			<h4>Kumar</h4>
		</div>
		<br>
		<br>
		<div class="menu col-sm-12">
			<ul class="pull-left">
				<li href="">Home</li>
				<li href="">Products</li>
				<li href="">Contacts</li>
			</ul>
		</div>
		<div class="description col-sm-12">
			<div class="video-description col-sm-5">
				<iframe width="675" height="368" src="https://www.youtube.com/embed/cSTEB8cdQwo" frameborder="0"></iframe>
			</div>
			<div class="text-description col-sm-7">
				<div class="about-me">
					<h4>About Me</h4>
				</div>
				<div class="text-box">
					<p>Hey Yo Boys</p>
				</div>
			</div>
		</div>
		<div class="contact-seller">
		</div>
	</div>
	<div class="product-panel">
		<div class="product-title col-sm-12">
			<h4> Products</h4>
		</div>
		<div class="products">
			<ul class="col-sm-12">
				<li class="col-sm-3">
					<div class="product-photo">
					</div>
					<div class="product-name">
					</div>
					<div class="product-info">
						<ul>
							<li id="info1">
							</li>
							<li id="info1">
							</li>
						</ul>
					</div>
				</li>
				<li class="col-sm-3">
					<div class="product-photo">
					</div>
					<div class="product-name">
					</div>
					<div class="product-info">
						<ul>
							<li id="info1">
							</li>
							<li id="info1">
							</li>
						</ul>
					</div>
				</li>
				<li class="col-sm-3">
					<div class="product-photo">
					</div>
					<div class="product-name">
					</div>
					<div class="product-info">
						<ul>
							<li id="info1">
							</li>
							<li id="info1">
							</li>
						</ul>
					</div>
				</li>
				<li class="col-sm-3">
					<div class="product-photo">
					</div>
					<div class="product-name">
					</div>
					<div class="product-info">
						<ul>
							<li id="info1">
							</li>
							<li id="info1">
							</li>
						</ul>
					</div>
				</li>
				<!-- Add more products by adding more li tags-->
			</ul>
		</div>
	</div>
</body>
</html>





