<!Doctype HTML>
<html lang="en">
  <head>
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <title>Yardsale&trade;</title>
        <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/coverflow/coverflow.css">
    <link rel="stylesheet" href="static/css/style1.css">
  </head>
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="static/img/YardSale.png" style="height:30px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-lg-6 search-box">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Channel <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Homepage</a></li>
            <li><a href="#">My Products</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="seller-bar">
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Sellers</button>
  <button type="button" class="btn btn-default">Categories</button>
</div>
</div>
    <div id="accordion">
        <div id="accdiv">
          <ul id="accul">
              <li class="accli">      
                <a href="http://www.example.com" target="_blank">
                  <div class="imgdiv"><div class="imgwrap"><img src="accordion/img/01.jpg" alt=""></div></div>
                  <div class="short"><p><span>First slide</span></p></div>
                  <div class="text bottom-right">
                    <p><span>This is a new CSS jQuery Accordion</span></p>
                    <p><span>Install it for FREE on your website</span></p>
                    <p><span>In 3 easy steps</span></p>
                  </div>
                </a>
              </li>
            
              <li class="accli">      
                <a href="accordion/img/02.jpg" data-gallery="gallery" data-cap="lightbox caption 02">
                  <div class="imgdiv"><div class="imgwrap"><img src="accordion/img/02.jpg" alt=""></div></div>
                  <div class="short"><p><span>Second slide</span></p></div>
                  <div class="text top-left">
                    <p class=""><span>Customize this Accordion on the panel below</span></p>
                    <p class=""><span style="background: rgba(57, 108, 124, 0.52);">Over 50 properties to choose from</span></p>
                  </div>
                </a>
              </li>
            
              <li class="accli">      
                <a>
                  <div class="imgdiv"><div class="imgwrap"><img src="accordion/img/03.jpg" alt=""></div></div>
                  <div class="short"><p><span>Third slide</span></p></div>
                  <div class="text top-right">
                    <p class=""><span>Upload your static/img and write the text</span></p>
                    <p class=""><span>Using the Images tab below</span></p>
                  </div>
                </a>
              </li>
            
              <li class="accli">      
                <a>
                  <div class="imgdiv"><div class="imgwrap"><img src="accordion/img/04.jpg" alt=""></div></div>
                  <div class="short"><p><span>Fourth slide</span></p></div>
                  <div class="text bottom-left">
                    <p class=""><span style="background:rgba(44, 128, 128, 0.54)">The Accordion is Responsive</span></p>
                    <p class=""><span style="background:rgba(44, 128, 128, 0.54)">Resize the browser's window to see</span></p>
                  </div>
                </a>
              </li>
            
              <li class="accli">      
                <a>
                  <div class="imgdiv"><div class="imgwrap"><img src="accordion/img/05.jpg" alt=""></div></div>
                  <div class="short"><p><span>Fifth slide</span></p></div>
                  <div class="text bottom-right">
                    <p class=""><span>Works great on mobile devices</span></p>
                  </div>
                </a>
              </li>
            
              <li class="accli">      
                <a>
                  <div class="imgdiv"><div class="imgwrap"><img src="accordion/img/06.jpg" alt=""></div></div>
                  <div class="short"><p><span>Sixth slide</span></p></div>
                  <div class="text bottom-right">
                    <p class=""><span>Lightweight</span></p>
                    <p class=""><span>Using mostly browser's built in CSS capabilities</span></p>
                  </div>
                </a>
              </li>
              <li class="accli">      
                <a>
                  <div class="imgdiv"><div class="imgwrap"><img src="accordion/img/06.jpg" alt=""></div></div>
                  <div class="short"><p><span>Sixth slide</span></p></div>
                  <div class="text bottom-right">
                    <p class=""><span>Lightweight</span></p>
                    <p class=""><span>Using mostly browser's built in CSS capabilities</span></p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="Controller"></div>
        </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="accordion/js/accordion.min.js"></script>
    <script> $accordion = $("#accordion").accordion({"path":"accordion/"}); </script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/coverflow/coverflow.min.js"></script>
    <script>
    $(function() {
        $('#coverflow').coverflow();
    });
    </script>