  <!Doctype HTML>
  <html lang="en">
    <head>
      <meta name ="viewport" content="width=device-width, initial-scale=1">
      <title>profile|yardsale</title>
      <link rel="stylesheet" href="static/css/normalize.css">
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/Base-Style.css">
      <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
      <style>
      .jumbotron{
      background-image:url('static/img/ph4.jpg');
      color:black;
      }
      .thumbnail{
        height:15em;
      }
      .title-bar{
        background-color: #EBEBEB;
      }
      </style>
    </head>
    <body>
      <div class="content">
        <div class="container-fluid title-bar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">yardsale</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-lg-6 search-box">
              <div class="input-group search-bar">
                <input type="text" class="form-control" placeholder="Search for products">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
            <!-- /input-group -->
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="channel" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{u.first_name}}'s Channel<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="channel">My Account</a></li>
                  <li><a href="my_products">My Products</a></li>
                  <li><a href="logout">Sign-Out</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
    </div>

    </div>
    <div class="jumbotron">
    <h1 class="text-center">{{s.first_name}} {{s.last_name}}</h1>
    </div>

  <div class="col-md-12">
  <div class="col-md-0.5"></div>
  <div class="col-md-11">
  <h4>{{s.first_name}}</h4>
    <div class="main-content">
      <div class="col-md-12">
      <ul class="nav nav-pills" style="margin-left:-0.5%">
          <li role="presentation" class="active"><a href="profile">Home</a></li>
          <li role="presentation"><a href="product">Product</a></li>
          <li role="presentation"><a href="contact">Contact</a></li>
      </ul>

      <br>

    </div>

    <div class="des">
      <div class="video-des col-md-5">
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_ynXKHC9Wo4"></iframe>
      </div>
      </div>
      <div class="text-des col-md-7">
        <h2 id="about">About {{s.first_name}}</h2>
        <div style="height:14.6em; border: 1px solid #DDDDDD; border-radius:2%"><p style="padding:0.5em; font-size:1.3em; font-family: 'Quicksand', sans-serif;">Hey! Thanks for coming here. I am a second year student at Ashoka. I cleared my locker recently and found that all this stuff was just lying around. I have course books for SPF, Literature and the World and Principles of Science. Since I don't use my phone often, it would be great if you could email me.</p></div>
        <a class="btn btn-default cont-button" href="contact" role="button">Contact Seller</a>
      </div>
    </div>
  </div>
</div>
<div class="col-md-0.5"></div>
</div>
  <div class="col-md-12 product-panel">
      <!-- Categories -->
   <h3 class="text-left">Products</h3>
   {% for p in s.products_set.all|slice:":3" %}
   <div class="row">
   <a href="product">
    <div class="col-sm-6 col-md-4 text-center">
      <div class="thumbnail">
        <img src="static/img/{{forloop.counter}}.jpg" alt="Gadgets">
        <div class="caption">
          <h4>{{p.product_name}}</h4>
        </div>
      </div>
    </div>
  </a>
{% endfor %}
  </div><!-- Category row ends-->
  </div>

  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/jquery.min.js"></script>
      <script src="static/coverflow/coverflow.min.js"></script>
      <script>
      $(function() {
          $('#coverflow').coverflow();
      });
      </script>
    </body>
    </html>